:root {
    --font-karla: 'Karla', sans-serif;
    --font-serif: 'DM Serif Display', serif;

    --color-white: hsla(0, 0%, 100%, 1);
    --color-dark-violet: hsl(256, 26%, 20%);
    --color-gray-blue: hsl(216, 30%, 68%);
    --color-very-dark-violet: hsl(270, 9%, 17%);
    --color-dark-gray-violet: hsla(271, 5%, 51%, 1);
    --color-light-gray: hsl(0, 0%, 98%);

    // font-family: 'DM Serif Display', serif;
    // font-family: 'Karla', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}
