.ft {
    max-width: 600px;
    margin: 0 auto 140px auto;
    text-align: center;
    padding: 40px 24px 0 24px;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 150px;
        height: 1px;
        background-color: hsla(296, 30%, 68%, 1);

        @media only screen and (min-width: 768px) {
            left: 24px;
            transform: revert;
        }
    }

    @media only screen and (min-width: 768px) {
        max-width: 1170px;
        text-align: left;
        padding: 63px 30px 0 30px;
        margin-bottom: 158px;
    }

    &__h2 {
        font-family: var(--font-serif);
        color: var(--color-very-dark-violet);
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -0.666667px;

        margin-bottom: 80px;

        @media only screen and (min-width: 768px) {
            font-size: 72px;
            line-height: 64px;
            letter-spacing: -1px;

            margin-bottom: 96px;
        }
    }

    &__wrapper {
        @media only screen and (min-width: 768px) {
            display: flex;
            justify-content: center;
            gap: 30px;
            flex-wrap: wrap;
        }
    }

    &__box {
        &:not(:last-child) {
            margin-bottom: 56px;

            @media only screen and (min-width: 768px) {
                margin-bottom: 0;
            }
        }

        @media only screen and (min-width: 768px) {
            // max-width: 350px;
            max-width: 339px;
        }

        @media only screen and (min-width: 800px) {
            max-width: 350px;
        }
    }

    &__icon {
        display: inline-block;
        margin-bottom: 32px;
    }

    &__h3 {
        font-family: var(--font-serif);
        color: var(--color-very-dark-violet);
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: -0.388889px;

        margin-bottom: 16px;
    }

    &__p {
        font-family: var(--font-karla);
        color: var(--color-dark-gray-violet);
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
    }
}
